html,body{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-wrapper{
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 1px black;
    background-color:rgb(3,169,243);
    border: solid 1px grey;
    font-size: 1.5vh;
    min-width: 450px;
    min-height: 200px;
    width: 20vw;
    height: 16vh;
    border-radius: 1em;
    box-shadow: 1px 4px 5px grey;
    padding: 20px;
    margin-bottom: 4vh;
    display:flex;
    flex-direction: column; 
    justify-content: flex-end;  
}

#card-number{
    font-size: 3vh;
    margin: 0; 
}

.heading{
    font-size: 1.5vh;
}

.bottom-card-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}

.card-input-wrapper .field-container:first-of-type {
    grid-area: name;
}

.card-input-wrapper .field-container:nth-of-type(2) {
    grid-area: number;
}

.card-input-wrapper .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.card-input-wrapper .field-container:nth-of-type(4) {
    grid-area: security;
}

.card-input-wrapper{
    display: grid;
    grid-column-gap: 3em;
    grid-row-gap: 0.5em;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: "name name""number number""expiration security";
}

input{
    padding: 1vh;
    width:100%;
    height: 3vh;
    border: solid 2px rgb(77, 77, 77)9, 59, 59);
}