html,body{
    height: 100%;
    width: 100%;
    display:flex;
    font-family: 'Inconsolata', monospace;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-bottom-half{
    height: 50%;
    padding-bottom: 10px;
}

#network-img{
    height: 8vh;
    width: 8vw;
    position: absolute;
    align-self: flex-end;
}

.card-wrapper{
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    width: calc(1.56 * 250px);
    height: 250px;
    margin-bottom: 10vh;
}

.card-wrapper-flip{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 1px black;
    position: absolute;
    background: linear-gradient(0deg, rgba(125,125,125,1) 0%, rgba(103,102,102,1) 30%, rgba(55,55,55,1) 100%);
    border: solid 1px grey;
    font-size: 1.5vh;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /*front is visible and back is not*/
    border-radius: 14px;
    box-shadow: 1px 4px 5px grey; 
}

.card-back{
    transform: rotateY(180deg);
}

.spacing{
    display:flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
    margin: 20px;
}

#card-number{
    font-size: 2.6em;
    letter-spacing: 1px;
    margin: 0; 
    margin-bottom: 1vh;
    margin-top: 110px;
    text-align: center;
}

#name, #expiration {
    font-size: 1.7em;
    margin:0;
    margin-top: 0.4vh;
}

.heading{
    font-size: 1em;
    margin:0;
}

.bottom-card-wrapper{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}

.card-input-wrapper .field-container:first-of-type {
    grid-area: name;
}

.card-input-wrapper .field-container:nth-of-type(2) {
    grid-area: number;
}

.card-input-wrapper .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.card-input-wrapper .field-container:nth-of-type(4) {
    grid-area: security;
}

.card-input-wrapper{
    display: grid;
    grid-column-gap: 3em;
    grid-row-gap: 4vh;
    grid-template-columns: auto auto;
    grid-template-rows: 60px 60px 60px;
    grid-template-areas: "name name""number number""expiration security";
}

input{
    padding: 1vh;
    width:100%;
    height: 3vh;
    border: solid 2px rgb(77, 77, 77)9, 59, 59);
}